{{set . "title" "Страницы сайта"}}
{{template "header.html" .}}

<div class="container">
	<div class="row"> <p> </p></div>
	<div class="row">
		<a href="/admin/create">создать страницу</a> 
      <span class="divider">/</span>
    <a href="/logout">выйти</a> 
	</div>
	<h3 class="text-info text-left"> {{.title}} </h3>
	<table class="table table-hover table-striped">
	<tr>
		<th> Заголовок </th>
		<th> Ссылка </th>
		<th> Краткое содержание </th>
	</tr>
	{{range .pages}}
	<tr onclick="location.href = '/admin/update/{{.Url}}';">
		<td> {{.Header}} </td>
		<td> {{.Url}} </td>
		<td> {{.Content}} </td>
	</tr>
	{{ end }}
	</table>
</div>

{{template "footer.html" .}}
