* {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.logo_img {
  float: left;
  margin-right: 10px;
}

.logo {
  font-size: 20px;
  margin-top: 20px;
}

.blue {
  color: #3a87ad;
}

.dark_grey {
  color: #979797
}

.menu {
  margin-top: 10px;
}


/* change menu color */
.nav > li > a:hover, .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
      background-color: #6ca9e0;
      background-image: none;
          border-radius(0px);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-color: #6ca9e0;
  background-image: None;
}

.nav-pills > .active > a, .nav-pills > .active > a:focus, .nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #6ca9e0;
}

/* remove round corners */
.nav-pills .dropdown-menu, .nav > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* remove border in dropdown menu */
.dropdown-menu {
  border: None
}

.sky {
  position: absolute;
  width: 100%;
  height: 186px;
  top: 80px;
  left: 0;
  z-index: -1;
  background: url("/public/images/sky.png") center no-repeat #fff;
}

.curve {
  position: absolute;
  right: 0;
  float: right;
  width: 500px;
  height: 186px;
  background: url("/public/images/curve.png") center no-repeat ;
  z-index: 0;
}

.icon {
  margin-bottom: 25px;
}

.curve_text {
  width: 250px;
  text-align: center;
  font-size: 20px;
  color:  #6ca9e0;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
}

#small_background_end {
  background: url("/public/images/curve_small_end.png") left no-repeat;
  height: 80px;
  width: 326px;
  float: left;
}

#content {
  margin-top: 210px;
}

#menu_container {
  margin-top: 15px;
}

#online_helper {
  padding-top: 35px;
  padding-left: 20px;
}

#question {
  font-size: 40px;
  float: left;
}

#online_help {
  font-size: 20px;
  float: left;
  margin-left: 5px;
}

.contact-info {
  width: auto;
  float: left;
  color: white;
  font-size: 15px;
  margin-top: 37px;
}


/* Sticky footer */

html,
body {
  height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 80px -80px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
}
#footer {
  background: url("/public/images/line.png") 0 33px repeat-x;
}
