{{set . "title" .title }}
{{template "header.html" .}}

<div class="container">
    {{ template "admin_menu.html" .}}
	<h3 class="text-info text-left"> {{.title}} </h3>
	<table class="table table-hover table-striped">
	<tr>
		<th> Заголовок </th>
		<th> Ссылка </th>
		<th> Краткое содержание </th>
	</tr>
    {{if eq .content_type "page"}} 
        {{range .content}}
        <tr onclick="location.href = '/admin/update/page/{{.Url}}';">
            <td> {{.Header}} </td>
            <td> {{.Url}} </td>
            <td> {{.Content}} </td>
        </tr>
        {{ end }}
	</table>
    {{end}}
</div>

{{template "footer.html" .}}
