{{template "header.html" .}}

<!-- header image -->
<div class="sky"> 
  <div class="curve">  
    {{if eq .icon "cloud"}} 
      <div class="curve_text"> 
          <div class="icon"> 
            <img id="icon" src="/public/images/cloud_icon.png" alt="cloud software icon"/> </div>
         Создайте свое <br /> собственное облако
      </div>
    {{end}}
    {{if eq .icon "web"}} 
      <div class="curve_text"> 
          <div class="icon"> <img src="/public/images/web_icon.png"/> </div>
         Сложные веб <br /> приложения просто
      </div>
    {{end}}
    {{if eq .icon "linux"}} 
      <div class="curve_text"> 
          <div class="icon"> <img src="/public/images/linux_icon.png"/> </div>
         Поддержка GNU/Linux <br /> инфрастуктуры
      </div>
    {{end}}
    {{if eq .icon "voip"}} 
      <div class="curve_text"> 
          <div class="icon"> <img src="/public/images/voip_icon.png"/> </div>
        Кратно сократить <br /> расходы на связь
      </div>
    {{end}}
  </div>
</div>

<!-- Part 1: Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  <div class="container-fluid">
    <div id="menu_container">
      <div class="row-fluid"> 
        <!-- logo -->
        <div class="span3"> <img class="logo_img" src="/public/images/logo.png" alt="logo"> 
        <div class="visible-desktop">
            <p class="logo"> <a class="no_underline" href="/"><span class="black">Open</span> <span class="blue">Cloud</span></a> </p> 
            </div>
        </div>
        <!-- menu -->
        <div class="menu span8 text-center"> 
          <div class="menu_container visible-desktop" > 
            {{template "menu.html" .}}
          </div>
        </div>
      </div>
    </div>

    <div id="content">
        {{if eq .logged "true"}} 
            {{ template "admin_menu.html" .}}
        {{end}}
        <h2 class="text-info"> {{.page_header}}</h2>
        {{raw .page_content}}
    </div>

  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <div id="small_background_end"> 
    <div id="online_helper" > 
      <!-- <div id="question" class="blue">?</div> -->
      <div id="online_help" class="blue">+7 909 444 28 27</div> 
    </div>
  </div>
  <div class="contact-info"> slaviann@gmail.com </div>

</div>

<script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/menu.js" type="text/javascript" charset="utf-8"></script>
{{template "footer.html" .}}
