          <ul class="nav nav-pills">
                <li class="dropdown" id="web">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Web приложения<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/web/sites">Сайты</a></li>
                            <li><a href="/page/web/sites/automation">Автоматизация документооборота</a></li>
                            <!-- <li class="divider"></li>
                            <li><a href="#">Примемущества</a></li> -->
                        </ul>
                </li>
                <li class="dropdown" id="cloud">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Облачные технологии<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/cloud/buh">Бухгалтерия</a></li>
                            <li><a href="/page/cloud/storage">Распределенное хранилище</a></li>
                            <li><a href="/page/cloud/virt">Виртуализация в облаке</a></li>
                        </ul>
                </li>
                <li class="dropdown" id="ip">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">IP телефония<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/pages/ip/ats">IP АТС</a></li>
                            <li><a href="/pages/ip/call_center">Call центры</a></li>
                            <li><a href="/pages/ip/sms">СМС шлюзы</a></li>
                        </ul>
                </li>
                <li class="dropdown" id="support">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">IT аутсорс<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/it/linux">Внерение и поддержка GNU/Linux</a></li>
                            <li><a href="/pages/ip/ats">ZFS Хранилища данных</a></li>
                            <li><a href="/pages/ip/call_center">Удаленное администрирование</a></li>
                            <li><a href="/pages/ip/sms">Консультации и консальтинг</a></li>
                        </ul>
                </li>
          </ul>
