          <ul class="nav nav-pills">
                <li class="dropdown" id="cloud">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Облако<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/cloud/storage">Распределенное хранилище данных</a></li>
                        </ul>
                </li>
                <li class="dropdown" id="web">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Web приложения<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/web/sites">Сайты</a></li>
                            <li><a href="/page/web/applications">Создание веб приложени</a></li>
                            <!-- <li class="divider"></li>
                            <li><a href="#">Примемущества</a></li> -->
                        </ul>
                </li>
                <li class="dropdown" id="voip">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">IP телефония<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/voip/voip">IP АТС</a></li>
                        </ul>
                </li>
                <li class="dropdown" id="linux">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GNU/Linux поддержка<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/linux/linux">GNU/Linux_поддержка</a></li>
                            <li><a href="/page/linux/virtualization">Виртуализация</a></li>
                        </ul>
                </li>
          </ul>
